body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    background-color: #b4b4b4;
  }

  #container {
    position: absolute;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* background-color: #4c4c4c; */
    border: 1px solid #ccc; 
    z-index: 2;
    pointer-events: none;
  }

  .drag-box {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #3498db;
    position: absolute;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    pointer-events: auto;
  }

  #lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    /* pointer-events: stroke; */
  }
  #grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  #polygon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  /* Style for the larger clickable lines */
.clickable-line {
    stroke: rgb(183, 209, 251); /*Make the line itself transparent*/
    fill: transparent;
    stroke-linecap: round;
    pointer-events: stroke;
    stroke-width: 5px; /* Increase the stroke width to expand the clickable area */
    cursor: pointer; /* Change cursor to pointer to indicate interactivity */
  }

.line-text{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

  .grid-dot{
    fill: black;
    opacity: 0.2;
    r:2px; /*radius */
  }

.polygon{
    fill: lightgrey;
}